<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' type="text/css" href='/read.css' />
    <link rel="icon" href="#" />
  </head>
  <%
    var read = rows[0];
  %>
  <body>
    <h3><%= title %></h3>
    <div class="board-read-btn-box">
      <div class="board-read-btn"><a href="/api/board/list">뒤로가기</a></div>
    </div>
    
    <form method="post" action="/update/<%=read.id%>" onsubmit="onUpdateSubmit()">
      <div id="board-read-table">
        <div class="board-read-tr">
          <div class="board-read-th">제목</div>
          <div class="board-read-td"><input type="text" id="title" name="title" value="<%=read.title%>"/></div>
        </div>
        <!-- <div class="board-read-tr">
          <div class="board-read-th">작성자</div>
          <div class="board-read-td"><%=read.writer%></div>
        </div> -->
        <div class="board-read-tr">
          <div class="board-read-th">비밀번호</div>
          <div class="board-read-td">
            <input type="password" name="password" id="password" required /></div>
        </div>
        <div class="board-read-content">
          <textarea name="content" id="content"><%=read.content%></textarea>
        </div>
      </div>
      <div class="board-read-btn-box">
        <input type="submit" value="수정" class="submitBtn">
      </div>
    </form>

  </body>
  
  <script>
    function onUpdateSubmit() {

      if ( $("#title").val().trim() == "" ){
        var message = "제목을 입력해 주세요";
        $("#title").val("");
        $("#title").focus();
        alert(message);
        return false;
      }

      if ( $("#content").val().trim() == "" ){
        var message = "내용을 입력해 주세요";
        $("#content").val("");
        $("#content").focus();
        alert(message);
        return false;
      }

      if ( $("#password").val().trim() == "" ){
        var message = "패스워드를 입력해 주세요";
        $("#password").val("");
        $("#password").focus();
        alert(message);
        return false;
      }

    }
  </script>
</html>